            .input-group{
                margin-bottom: 10px;
            }.form-group{
                margin-bottom: 10px;
            }
/*@media screen and (min-width: 500px) {*/
     /*#b_logo {*/

         /*margin-left: 55vw !important;*/

     /*}*/
/*}*/



.tab button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid #399cf9
}
.tab button:hover {
	
    box-shadow: 1px 1px 0px black;
}

.tabcontent {
    display: none;
}